/* @import url("https://fonts.googleapis.com/css2?family=Acme&display=swap"); */

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00bcd4;
  font-size: 1.4rem;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem,
    rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 5rem;
  margin: 1rem;
  width: 25%;
  min-width: 250px;
  border-radius: 4px;
  transition: all 500ms;  /* This line alone adds a lot of class to your UX*/
  cursor: pointer;
  user-select: none;

}

.card:hover {
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em,
    rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}


@media only screen and (max-width: 865px) {
    .card{
        height: auto;
        padding: 6px;
        font-size: 1rem;
    }
   
}
@media only screen and (max-width: 800px) {
  
    .card{
        padding: 10px;
    }
}